doctype html
html
  head
    title lights
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='scripts/index.js')
  body
    h1 lighting
    button(id="onButton") on
    button(id="offButton") off
    input(type="range" id="brightness" value="50" min="0" max="100")
